
div
{
width:300px;
border:10px solid yellow;
padding:25px;
margin:25px;
background-color:blue;
}

a.highlight:hover {
color:#ff0000;
}
<style>
div{
background-color:green;
color:white;
padding:25px;
text-align:center;
font-size:100px;
}
a.de:hover{
background-color:blue;
}
</style>
selector::pseudo-element{
property:value;
}
p::first-line{
color:#ff0000;
font variant:small-caps;
}
p::first-letter{
color:#00ff00;
font-size:xx-large;
}
h1::BEFORE{
content:url(/home/itsec2/Downloads/cool-skull-tattoo-design-drawing-png-tattoos-png-500_655.png);
}
img{
opacity:0.5;
filter:alpha(opacity=50);
}
img{
opacity:0.5;
filter:alpha(opacity=50);
}
img:hover{
opacity:1.0;
filter:alpha(opacity=100);
}
div{
baCKGROUND-COLOR:#4CAF50;
PADDING:10PX;
}
<style>
DIV.FIRST{
OPACITY:0.1;
FILTER:ALPHA(OPACITY=10);
}
div.sceond{
opacity:0.3;
filter:alpha(opacity=30);
}
div.third{
opacity:0.6;
filter:alpha(opacity=60);
}
div{
background:rgba(76,175,80);
padding:10px;
}
div.first{
background:rgba(76,175,80,0.1);
}
div:second{
background:rgba(76,175,80,0.3);
}
div.third{
background:rgba(76,175,80,0.6);
}
</style>

<style>
DIV.BACKGROUND{
BACKGROUND:URL(KLEMATIS.JPG)REPEAT;
border:2px solid black;
}
div.transbox{
margin:30px;
background-color:#ffffff;
border:1px solid black;
opacity:0.6;
filter:alpha(opacity=60);
}
div.transbox p{
margin:5%;
font-weight:bold;
color:#000000;
}
</style>
</head>
<body>
<div class="background">
<div class="transbox">
<p>WELCOME TO RAM COMPANIES</p>
</div>
</div>
